Task2/NorthwindServiceLibrary/CategoriesApplication/Service References/CategoryService/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_ICategoryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://home-d:802/service/CategoryService.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://home-d:802/service/CategoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" />
      <xsd:import schemaLocation="http://home-d:802/service/CategoryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://home-d:802/service/CategoryService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://home-d:802/service/CategoryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Models.CustomModels" />
      <xsd:import schemaLocation="http://home-d:802/service/CategoryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CategoryImage">
    <wsdl:part name="parameters" element="tns:CategoryImage" />
  </wsdl:message>
  <wsdl:message name="CategoryImage_Headers">
    <wsdl:part name="CategoryId" element="tns:CategoryId" />
    <wsdl:part name="Size" element="tns:Size" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategoryImage_CategoryFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" name="detail" element="q1:CategoryFault" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_SetCategoryImage_OutputMessage" />
  <wsdl:message name="ICategoryService_SetCategoryImage_CategoryFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" name="detail" element="q2:CategoryFault" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryService">
    <wsdl:operation name="GetCategoryImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryImage" name="CategoryImage" message="tns:CategoryImage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryImageResponse" name="CategoryImage" message="tns:CategoryImage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryImageCategoryFaultFault" name="CategoryFaultFault" message="tns:ICategoryService_GetCategoryImage_CategoryFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoryImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/SetCategoryImage" name="CategoryImage" message="tns:CategoryImage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/SetCategoryImageResponse" message="tns:ICategoryService_SetCategoryImage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICategoryService/SetCategoryImageCategoryFaultFault" name="CategoryFaultFault" message="tns:ICategoryService_SetCategoryImage_CategoryFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetCategories" message="tns:ICategoryService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetCategoriesResponse" message="tns:ICategoryService_GetCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_ICategoryService" type="tns:ICategoryService">
    <wsp:PolicyReference URI="#NetHttpBinding_ICategoryService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryImage">
      <soap12:operation soapAction="http://tempuri.org/ICategoryService/GetCategoryImage" style="document" />
      <wsdl:input name="CategoryImage">
        <soap12:header message="tns:CategoryImage_Headers" part="CategoryId" use="literal" />
        <soap12:header message="tns:CategoryImage_Headers" part="Size" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CategoryImage">
        <soap12:header message="tns:CategoryImage_Headers" part="CategoryId" use="literal" />
        <soap12:header message="tns:CategoryImage_Headers" part="Size" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CategoryFaultFault">
        <soap12:fault use="literal" name="CategoryFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCategoryImage">
      <soap12:operation soapAction="http://tempuri.org/ICategoryService/SetCategoryImage" style="document" />
      <wsdl:input name="CategoryImage">
        <soap12:header message="tns:CategoryImage_Headers" part="CategoryId" use="literal" />
        <soap12:header message="tns:CategoryImage_Headers" part="Size" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CategoryFaultFault">
        <soap12:fault use="literal" name="CategoryFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap12:operation soapAction="http://tempuri.org/ICategoryService/GetCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="NetHttpBinding_ICategoryService" binding="tns:NetHttpBinding_ICategoryService">
      <soap12:address location="http://home-d:802/service/CategoryService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://home-d:802/service/CategoryService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>