Task2/NorthwindServiceLibrary/CategoriesApplication/Service References/CategoryService/CategoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthwindModel.Models.CustomModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Models.CustomModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBasicCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicCategory" nillable="true" type="tns:BasicCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicCategory" nillable="true" type="tns:ArrayOfBasicCategory" />
  <xs:complexType name="BasicCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicCategory" nillable="true" type="tns:BasicCategory" />
</xs:schema>