Task2/NorthwindServiceLibrary/CallBackClient/Service References/OrderService/NorthwindServiceLibrary.Faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Enums" />
  <xs:complexType name="OrderFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="InnerException" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindModel.Enums" minOccurs="0" name="Status" type="q2:OrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderFault" nillable="true" type="tns:OrderFault" />
</xs:schema>