Task2/NorthwindServiceLibrary/CallBackClient/Service References/OrderService/orders6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Subscription" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Subscription" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:809/winsvc/northwind/orders?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Enums" />
  <xs:complexType name="OrderNotification">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindModel.Enums" minOccurs="0" name="NewStatus" type="q1:OrderStatus" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderNotification" nillable="true" type="tns:OrderNotification" />
  <xs:complexType name="SubscriptionServiceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentOperationResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSubscribed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionServiceData" nillable="true" type="tns:SubscriptionServiceData" />
</xs:schema>