Task2/NorthwindServiceLibrary/CallBackClient/Service References/OrderService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IOrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Models.CustomModels" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Enums" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderEx" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderExResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderEx_OrderFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" name="detail" element="q1:OrderFault" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SendOrderToProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOrderToProcess" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SendOrderToProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOrderToProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SendOrderToProcess_OrderFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" name="detail" element="q2:OrderFault" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SendOrderToCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOrderToCustomer" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SendOrderToCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOrderToCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SendOrderToCustomer_OrderFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" name="detail" element="q3:OrderFault" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UpdateOrder_OrderFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" name="detail" element="q4:OrderFault" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OrderFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/NorthwindServiceLibrary.Faults" name="detail" element="q5:OrderFault" />
  </wsdl:message>
  <wsdl:message name="IOrderService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IOrderService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IOrderService_SendInformationMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendInformationMessage" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrders" message="tns:IOrderService_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrdersResponse" message="tns:IOrderService_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderEx" message="tns:IOrderService_GetOrderEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderExResponse" message="tns:IOrderService_GetOrderEx_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/GetOrderExOrderFaultFault" name="OrderFaultFault" message="tns:IOrderService_GetOrderEx_OrderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/Add" message="tns:IOrderService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddResponse" message="tns:IOrderService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOrderToProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/SendOrderToProcess" message="tns:IOrderService_SendOrderToProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/SendOrderToProcessResponse" message="tns:IOrderService_SendOrderToProcess_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/SendOrderToProcessOrderFaultFault" name="OrderFaultFault" message="tns:IOrderService_SendOrderToProcess_OrderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOrderToCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/SendOrderToCustomer" message="tns:IOrderService_SendOrderToCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/SendOrderToCustomerResponse" message="tns:IOrderService_SendOrderToCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/SendOrderToCustomerOrderFaultFault" name="OrderFaultFault" message="tns:IOrderService_SendOrderToCustomer_OrderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UpdateOrder" message="tns:IOrderService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderResponse" message="tns:IOrderService_UpdateOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/UpdateOrderOrderFaultFault" name="OrderFaultFault" message="tns:IOrderService_UpdateOrder_OrderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderOrderFaultFault" name="OrderFaultFault" message="tns:IOrderService_DeleteOrder_OrderFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/Subscribe" message="tns:IOrderService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/UnSubscribe" message="tns:IOrderService_UnSubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInformationMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/SendInformationMessage" message="tns:IOrderService_SendInformationMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IOrderService" type="tns:IOrderService">
    <wsp:PolicyReference URI="#NetHttpBinding_IOrderService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderEx">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetOrderEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OrderFaultFault">
        <soap12:fault use="literal" name="OrderFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOrderToProcess">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/SendOrderToProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OrderFaultFault">
        <soap12:fault use="literal" name="OrderFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendOrderToCustomer">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/SendOrderToCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OrderFaultFault">
        <soap12:fault use="literal" name="OrderFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OrderFaultFault">
        <soap12:fault use="literal" name="OrderFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="OrderFaultFault">
        <soap12:fault use="literal" name="OrderFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendInformationMessage">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/SendInformationMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="NetHttpBinding_IOrderService" binding="tns:NetHttpBinding_IOrderService">
      <soap12:address location="ws://localhost/OrderService" />
      <wsa10:EndpointReference>
        <wsa10:Address>ws://localhost/OrderService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>