Task2/NorthwindServiceLibrary/TestProject/Service References/OrderService/orders2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthwindModel.Models.CustomModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthwindModel.Models.CustomModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBasicOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicOrder" nillable="true" type="tns:BasicOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicOrder" nillable="true" type="tns:ArrayOfBasicOrder" />
  <xs:complexType name="BasicOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ShipAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicOrder" nillable="true" type="tns:BasicOrder" />
  <xs:complexType name="BasicCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicCategory" nillable="true" type="tns:BasicCategory" />
</xs:schema>